/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}
body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 100%;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75em;
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #e71d36;
}
header {
    text-align: center;
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}
.logo {
    font-family: "Changa One", sans-serif;
    font-size: 1.75rem;
    line-height: 0.8;
    color: #2ec4b6;
}
#métier{
    color: #e71d36;
    margin-top: -5px;
    font-weight: 200;
}
#nom {
    margin: 1rem 0;
}
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: white;
}
nav ul {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.Accueil {
    display: none;
}
.navig {
    font-weight: 800;
    padding: 15px 10px;
    color: white;
}
.navig:hover {
    color: #2ec4b6;
}

main {
    margin: 0 5%;
}
#tête {
    margin: auto;
    border-radius: 100px;
    width: 200px;
    display: block;
}
#présentation {
    text-align: center;
}
.contact {
    background-color: #fdfffc;
}
.contact li {
    display: list-item;
}
#tel {
    list-style-image: url("../_sources/images/phone.png");
}
#mail {
    list-style-image: url("../_sources/images/mail.png");
}
#twitter {
    list-style-image: url("../_sources/images/twitter.png");
}
#facebook {
    list-style-image: url("../_sources/images/facebook.png");
}

#realisation {
    text-align: center;
}


.oeuvre {
    margin: 0;
    padding: 0;
}
.oeuvre li {
    display: inline-block;
    width: 44%;
    margin: 2.5%;
    vertical-align: top;
    overflow: hidden;
}
.oeuvre li img {
    max-width: 100%;
    height: auto;
}

figure {
    background-color: #e3e3e3;
    margin: 0;
}
figcaption {
    padding: 10px;
    font-size: 1rem;
    color: #000;

}

footer {
    padding-top: 50px;
    text-align: center;
}
footer nav {
    display: inline-block;
    text-decoration: none;
    margin: 0;
}
.img {
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    filter: grayscale(1);
}
.img:hover {
    filter: grayscale(0);
    transition: filter 500ms linear;
}



